body{
    background: #f0f2f5;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    direction: ltr;
    line-height: 1.34;
    margin: 0 auto;
}
.head{
    margin-top: 100px;
    margin-left: 200px;
    margin-right:200px;
    display: block;
    vertical-align:middle;
}
.logo{
    padding-top: 100px;
    height: 106px;
    margin-left: 90px;
    float: left;
}
.logo img{
    width: 250px;
}
.text{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    color: #1c1e21;
    margin-top: 9px;
}
a{
    text-decoration: none;
}
.form{
    float:right;
    margin-top: 50px;
}
.form1{
    float: left;
    height: 335px;
    width: 396px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}

.text input[type=text],.text input[type=password]{
    width: 340px;
    height: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 27px;
    font-size: 15px;
    text-decoration-color: #90949c;
    background-color: #ffffff;
    display:inherit;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border-color: #e9eaeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.flex{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.login input[type=submit]{
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 40px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-sizing: content-box;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}
.create input[type=submit]{
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    box-sizing: content-box;
}
.page a{
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
.page{
    margin-top: 28px;
    text-align: center;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}
.forget{
    margin-top: 10px;
}
.forget a{
    margin-top: 10px;
    padding: 20px;
}
.page a{
    color: black;
    margin-bottom: 200px;
    font-weight: bold;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #737373;
    background-color: #fff;
    font-size: 12px;
}
.upfooter{
    margin-top: 1opx;
    margin: 0 auto;
    width: 980px;
    padding: 0;
    
}
ul{
    list-style-type: none;
    padding: 0;
}
.footer li{
    margin-top: 20px;
    margin: 5px;
    display: inline-block;
}
.flex{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.footerflex{
    text-align: center;
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    width: 980px;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 275px;
}
.plus{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.downfooter{
    margin-top: 1opx;
    margin: 0 auto;
    width: 980px;  
}
.copyright{
    margin-top: 1opx;
    margin: 0 auto;
    width: 980px;
}